<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Factura</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of selectedItems" lines="inset">
      {{ item.count }}x {{ item.name }} - {{ item.price | currency:'USD':'symbol' }}
      <ion-button (click)="disminuirSelectedItem(item)">
        <ion-icon name="remove" color="danger"></ion-icon>
      </ion-button>
      <ion-button (click)="incrementarSelectedItem(item)">
        <ion-icon name="add-circle" color="danger"></ion-icon>
      </ion-button>
      
      <ion-button (click)="borrarSelectedItems(item)">
        <ion-icon name="close" color="danger"></ion-icon>
      </ion-button>
      <ion-label slot="end" text-right>{{ (item.price * item.count) | currency:'USD':'symbol' }}</ion-label>
    </ion-item>

    <img src="{{urlStMap}}">
   
  </ion-list>
  <app-modal-map (messageToEmit)="getMessage($event)" ></app-modal-map>
</ion-content>
<ion-footer>
  <ion-item>
    Subtotal: <span slot="end">{{ subtotal | currency:'USD':'symbol' }}</span>
  </ion-item>
  <ion-item>
    IVA (12%): <span slot="end">{{ iva | currency:'USD':'symbol' }}</span>
  </ion-item>
  <ion-item>
    Descuento:<span slot="end">{{ dscPorcentaje | currency:'USD':'symbol' }}</span>
  </ion-item>
  <ion-item>
    Total:<span slot="end">{{ total | currency:'USD':'symbol' }}</span>
  </ion-item>
 
  <ion-item text-center>
    <ion-button (click)="subirPedido()" routerLink="/cart"  >
      Subir Factura
    </ion-button>
  </ion-item>
</ion-footer>