<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/shapes.svg" alt=""/>
    <ion-card-header>
      <ion-card-title text-center>Bienvenido {{nombre}} {{apellido}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        
      </p>
    </ion-card-content>
  </ion-card>
  <div class="extra" >
  <h3 >Correo: {{email}}</h3>
  <h3>Celular: {{celular}}</h3>
  <h3>Fecha de Nacimiento: {{fechanacimiento}}</h3>
</div>
</ion-content>
