.sinBordes{
    --border-style: none !important;
}
.img{
    width:150px;
    height:150px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}
.btn{
    display:block;
    margin-left: auto;
    margin-right: auto;
}