<ion-header>
  <ion-toolbar color="secondary">
    <ion-title text-center>Ingreso</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-color-person" color="base" >
  <!--<img class="icon" src="assets/img/login.svg" alt="">-->
  
  <ion-thumbnail class="img">
    <img  src="/assets/img/cesta.svg" >  
  </ion-thumbnail>  
<ion-item class="ion-color-person " color="base" >
  <ion-label position="floating"> Correo electrónico</ion-label>
  <ion-input type="text" [(ngModel)]="user.email" name="email"></ion-input>
</ion-item>
<ion-item class="ion-color-person " color="base" >
  <ion-label position="floating" > Contraseña</ion-label>
  <ion-input  type="password" name="password" [(ngModel)]="user.password"></ion-input>
</ion-item>

  <ion-button class="btn"  expand="block" (click)="login()" >Ingresar</ion-button>

  <ion-button class="btn"  expand="block" routerLink="/register">Registrarse</ion-button>

</ion-content>