.clase1{
    border: green solid 2px !important;
}
.clase2{
    font: x-small ;
}

.sinBordes{
    --border-style: none !important;
}
.indice{
    margin-top: 5px;
    margin-left: 10px;
    position: absolute;
}