<ion-header>
  <ion-toolbar class="ion-color-person" color="base">
    <button routerLink="/home" slot="start">
      <ion-icon name="arrow-back"></ion-icon>
    </button>
  
  
    <ion-title>Historial</ion-title>
  
</ion-toolbar>
</ion-header>

<ion-content>
<ion-list *ngFor="let pedido of pedidos; let i=index;">
  <ion-item>
    <ion-avatar class="clase1" slot="start">
      <p class="indice">
        {{i+1}}
      </p>
    </ion-avatar>
    <ion-label>
      <h2>{{pedido.fecha |date : 'dd/MM/yyyy'}}</h2>
      <h3>Total de Factura: {{pedido.totalPago | currency:'USD':'symbol' }}</h3>
      <h4>
        <p>Cant:Nombre</p>
        <ion-list *ngFor="let producto of pedido.productos">
          <ion-item class="sinBordes">
            <p>
              {{producto.cantidad}} : {{producto.nombreProducto}}
            </p>
          </ion-item>
        </ion-list>
      </h4>
    </ion-label>
  </ion-item>
</ion-list>

</ion-content>
