<ion-header >
  <!-- <ion-item>
    <button routerLink="/home">
      <ion-icon name="arrow-back"></ion-icon>
    </button>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Guardar</ion-button>
    </ion-buttons>
  </ion-item> -->
  
  <ion-toolbar class="ion-color-person" color="base">
    <ion-title>Your Location</ion-title>
    <button routerLink="/home">
      <ion-icon name="arrow-back"></ion-icon>
    </button>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Guardar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map"></div>
</ion-content>
